In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({"A":[12, 4, 5, None, 1], 
                   "B":[7, 2, 54, 3, None], 
                   "C":[20, 16, 11, 3, 8], 
                   "D":[14, 3, None, 2, 6]}) 
   
df

      A     B   C     D
0  12.0   7.0  20  14.0
1   4.0   2.0  16   3.0
2   5.0  54.0  11   NaN
3   NaN   3.0   3   2.0
4   1.0   NaN   8   6.0

In [4]:
df.mean(axis = 1, skipna = True)

0    13.250000
1     6.250000
2    23.333333
3     2.666667
4     5.000000
dtype: float64

In [6]:
df.mean(axis = 1, skipna = False)

0    13.25
1     6.25
2      NaN
3      NaN
4      NaN
dtype: float64

In [7]:
df.mean(axis = 1, skipna = None)

0    13.250000
1     6.250000
2    23.333333
3     2.666667
4     5.000000
dtype: float64

In [8]:
df.mean(axis = 1)

0    13.250000
1     6.250000
2    23.333333
3     2.666667
4     5.000000
dtype: float64