In [15]:
# Creating a pandas DataFrame from another object

In [16]:
import pandas as pd

In [17]:
# .DataFrame is a constructor

# create a dictionary

dict = {
    'id':[100, 101, 102],
    'color':['red', 'blue', 'red']
       }

# create a list of strings for column label

cols = ['id', 'color']

index = ['a', 'b', 'c']

# Passing a dictionary
# key: column name
# value: series of values

df = pd.DataFrame(dict, columns= cols, index=index)
df

    id color
a  100   red
b  101  blue
c  102   red

In [18]:
# list of lists

list_of_lists = [
    [100, 'red'],
    [101, 'blue'],
    [102, 'red']
]

cols = ['id', 'color']

pd.DataFrame(list_of_lists, columns=cols)

    id color
0  100   red
1  101  blue
2  102   red

In [19]:
import numpy as np

In [20]:
# create 4x2 random array 
# array is a list of lists

arr = np.random.rand(4, 2)
arr

array([[0.91774449, 0.42839669],
       [0.02474004, 0.35868929],
       [0.53131338, 0.06321422],
       [0.2807223 , 0.9657721 ]])

In [21]:
# columns
cols2 = ['one', 'two']

# pass in array and columns

pd.DataFrame(arr, columns =cols2)

        one       two
0  0.917744  0.428397
1  0.024740  0.358689
2  0.531313  0.063214
3  0.280722  0.965772

In [26]:
# np.arange
# inclusive of start
# exclusive of end
# step: 1 
# ascending order

# np.random.randint
# 60 to 101
# any random integer

# key: column name
# value: series of values

dict_new = {
    'studentId': np.arange(100, 110, 1),
    'test': np.random.randint(60,101, 10)
}

pd.DataFrame(dict_new)

   studentId  test
0        100    73
1        101    93
2        102    88
3        103   100
4        104    71
5        105    91
6        106    98
7        107    96
8        108    91
9        109    99

In [27]:
# we can resset the index

pd.DataFrame(dict_new).set_index('studentId')

           test
studentId
100          73
101          93
102          88
103         100
104          71
105          91
106          98
107          96
108          91
109          99

In [31]:
# creating a series

lst = ['round', 'square']
ind = ['c', 'b']
series_name = 'shape'

s = pd.Series(lst, index=ind, name=series_name)
s

c     round
b    square
Name: shape, dtype: object

In [32]:
df

    id color
a  100   red
b  101  blue
c  102   red

In [34]:
df2 = pd.concat([df,s], axis=1)
df2

/Users/augustguo/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

    id color   shape
a  100   red     NaN
b  101  blue  square
c  102   red   round

In [35]:
# say you want to add a value 'rectangle'

df2.loc['a', 'shape'] = 'rectangel'
df2

    id color      shape
a  100   red  rectangel
b  101  blue     square
c  102   red      round