In [3]:
import pandas as pd 
import numpy as np

In [5]:
cols = ['one', 'two']

ind = ['a', 'b', 'c', 'd']

one = [1, 2, 3, 4]
two = [1, 2, 3, 4]

dict = {
    'one':one,
    'two':two
}

In [6]:
df = pd.DataFrame(dict, columns = cols, index = ind)

In [7]:
df

   one  two
a    1    1
b    2    2
c    3    3
d    4    4

In [8]:
# mean of every single column in df

df.apply(np.mean)

one    2.5
two    2.5
dtype: float64

In [9]:
# you can use a pandas command too
df.mean()

one    2.5
two    2.5
dtype: float64

In [10]:
# .map() on particular columns (Series)
# goes through every value in column and evaluate if it's > 1

df['one'].map(lambda x: x > 1)

a    False
b     True
c     True
d     True
Name: one, dtype: bool

In [12]:
df.applymap(lambda x: x > 1)

     one    two
a  False  False
b   True   True
c   True   True
d   True   True